* {
    margin: 0px;
    font-family: monospace;
}

body {
    background-image: linear-gradient(#b9b9b9, #888888, #794646, #888888, #b9b9b9);
    background-repeat: no-repeat;
    height: 100vh;
}

.bannerDiv {
    max-width: 100vw;
    height: 3em;
    background-color: #ac0f0f;
    padding-top: 1.5em;
    padding-left: 30%;
    padding-right: 70%;
    font-size: 1.5em;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 30px;
    font-size: 20px;
}

.divUnits {
    margin-top: 20px;
}

button {
    margin: 30px;
    padding: 10px;
    border: 2px solid #222222;
    border-radius: 10px;
    font-size: 20px;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}


/*responsive to Laptop */
@media (max-width: 1440px) {
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .button {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
}

/*Koden bare knekker når jeg prøver å justere css fra mobil til desktop display, eneste som endrer seg 
riktig er banner'et...
Kan gjøre koden på nytt hvor jeg da lager utgangspunktet i desktop og justerer css via media-query til 
tablet og mobil display..*/